Repository jmassucco17/homelab: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier-html, stylelint

prettier-html:
  name: prettier-html
  entry: npx prettier --write
  language: system

stylelint:
  name: stylelint
  entry: npx stylelint --fix
  language: system

Implement Phase 7: Catan Trading System (#60)
  games/app/catan/engine/trade.py
  games/app/catan/engine/trade_test.py
  games/app/catan/models/ws_messages.py
Due: none

Implement Phase 8: Catan AI Players (#77)
  games/app/catan/ai/__init__.py
  games/app/catan/ai/base.py
  games/app/catan/ai/base_test.py
  games/app/catan/ai/driver.py
  games/app/catan/ai/driver_test.py
  games/app/catan/ai/easy.py
  games/app/catan/ai/easy_test.py
  games/app/catan/ai/hard.py
  games/app/catan/ai/hard_test.py
  games/app/catan/ai/medium.py
  games/app/catan/ai/medium_test.py
  games/app/catan/ai/simulate.py
  games/app/catan/ai/simulate_test.py
  games/app/catan/engine/rules.py
  games/app/catan/engine/rules_test.py
Due: none

Add Grafana to homepage
  README.md
  homepage/site/index.html
Due: prettier-html

Add websockets library for uvicorn
  requirements.txt
Due: none

Add websockets library for uvicorn (#80)
  requirements.txt
Due: none

Fix Catan AI player integration
  games/app/catan/engine/turn_manager.py
  games/app/catan/models/player.py
  games/app/catan/server/room_manager.py
  games/app/catan/server/ws_handler.py
  games/app/routers/catan.py
  games/app/static/catan/catan.js
Due: none

feedback
  games/app/catan/engine/turn_manager.py
  games/app/catan/server/room_manager.py
Due: none

add tests
  games/app/catan/engine/turn_manager_test.py
  games/app/catan/server/room_manager_test.py
  games/app/catan/server/ws_handler_test.py
  games/app/routers/catan_test.py
Due: none

Add comprehensive unit tests for AI player features
  games/app/routers/catan_test.py
Due: none

Fix hanging test by removing problematic AI first-player test
  games/app/catan/server/ws_handler_test.py
Due: none

Use background tasks for AI turn execution on game start
  games/app/routers/catan.py
Due: none

Fix Catan AI player integration (#81)
  games/app/catan/engine/turn_manager.py
  games/app/catan/engine/turn_manager_test.py
  games/app/catan/models/player.py
  games/app/catan/server/room_manager.py
  games/app/catan/server/room_manager_test.py
  games/app/catan/server/ws_handler.py
  games/app/catan/server/ws_handler_test.py
  games/app/routers/catan.py
  games/app/routers/catan_test.py
  games/app/static/catan/catan.js
Due: none

Catan player feedback
  games/app/catan/engine/processor.py
  games/app/catan/engine/processor_test.py
  games/app/catan/server/room_manager.py
  games/app/catan/server/room_manager_test.py
  games/app/static/catan/catan.js
  games/app/static/css/games.css
  games/app/templates/catan_game.html.jinja2
Due: stylelint

fix
  games/app/catan/engine/processor_test.py
  games/app/catan/server/room_manager.py
  games/app/catan/server/room_manager_test.py
Due: none

fix test
  games/app/routers/catan_test.py
Due: none

change display of item costs
  games/app/static/catan/ui.js
Due: none

fix logic bug during initial placement
  games/app/catan/engine/processor.py
  games/app/catan/engine/processor_test.py
  games/app/catan/engine/rules.py
  games/app/catan/models/game_state.py
Due: none

trade support
  games/app/catan/server/room_manager.py
  games/app/catan/server/ws_handler.py
  games/app/static/catan/catan.js
  games/app/static/catan/ui.js
  games/app/static/catan/ws_client.js
  games/app/static/css/games.css
  games/app/templates/catan_game.html.jinja2
Due: stylelint

pyright fix
  games/app/catan/server/room_manager.py
Due: none

fix imports
  games/app/catan/engine/trade.py
  games/app/catan/models/serializers.py
Due: none

Apply suggestion from @jmassucco17
  requirements.txt
Due: none

Update _unit-testing.yml
  .github/workflows/_unit-testing.yml
Due: none

Update CLAUDE.md
  CLAUDE.md
Due: none

Update requirements.txt
  requirements.txt
Due: none

Add pytest-cov CI enforcement, fix test import style, add missing test files, rename docs/style-guides → docs/style (#84)
  .github/workflows/_unit-testing.yml
  CLAUDE.md
  docs/style/bash.md
  docs/style/other.md
  docs/style/python.md
  games/app/catan/board_test.py
  games/app/catan/engine/processor_test.py
  games/app/catan/engine/rules_test.py
  games/app/catan/engine/turn_manager_test.py
  games/app/catan/models/actions_test.py
  games/app/catan/models/board_test.py
  games/app/catan/models/game_state_test.py
  games/app/catan/models/player_test.py
  games/app/catan/models/serializers_test.py
  games/app/catan/models/ws_messages_test.py
  pyproject.toml
  requirements.txt
  travel/app/main_test.py
Due: none

Add Grafana to homepage (#79)
  README.md
  homepage/site/index.html
Due: prettier-html

Catan player feedback: AI difficulty selection, setup resources, player trading, UX polish (#85)
  games/app/catan/engine/processor.py
  games/app/catan/engine/processor_test.py
  games/app/catan/engine/rules.py
  games/app/catan/engine/trade.py
  games/app/catan/models/game_state.py
  games/app/catan/models/serializers.py
  games/app/catan/server/room_manager.py
  games/app/catan/server/room_manager_test.py
  games/app/catan/server/ws_handler.py
  games/app/routers/catan_test.py
  games/app/static/catan/catan.js
  games/app/static/catan/ui.js
  games/app/static/catan/ws_client.js
  games/app/static/css/games.css
  games/app/templates/catan_game.html.jinja2
Due: stylelint

fix pyright
  games/app/catan/engine/processor_test.py
Due: none

Catan: populate announcement pane with all game events (#88)
  games/app/catan/ai/driver.py
  games/app/catan/engine/processor.py
  games/app/catan/engine/processor_test.py
  games/app/catan/models/game_state.py
  games/app/static/catan/catan.js
Due: none

Fix settlement placement not deducting resources during normal play (#93)
  games/app/catan/engine/processor.py
  games/app/catan/engine/processor_test.py
Due: none

Add Portainer service at portainer.jamesmassucco.com (#90)
  .github/dependabot.yml
  .github/workflows/_deploy.yml
  .github/workflows/_integration.yml
  homepage/site/index.html
  networking/docker-compose.yml
  portainer/docker-compose.yml
Due: prettier-html

Update portainer URL
  homepage/site/index.html
Due: prettier-html

Update portainer URL (#95)
  homepage/site/index.html
Due: prettier-html

Add robber activation UI: tile placement hint, steal target selection, discard dialog (#94)
  games/app/static/catan/catan.js
  games/app/static/catan/ui.js
  games/app/static/css/games.css
Due: stylelint

Fix tools staging config and remove travel's exposed port (#96)
  docs/deployments.md
  tools/docker-compose.prod.yml
  tools/docker-compose.staging.yml
  tools/docker-compose.yml
  travel/docker-compose.prod.yml
Due: none

Add structured logging to Catan WebSocket server for in-game debugging (#99)
  games/app/catan/server/room_manager.py
  games/app/catan/server/ws_handler.py
  games/app/catan/server/ws_handler_test.py
Due: none

Add active game list and observe mode to Catan lobby (#98)
  games/app/catan/server/room_manager.py
  games/app/catan/server/ws_handler.py
  games/app/routers/catan.py
  games/app/routers/catan_test.py
  games/app/static/catan/catan.js
  games/app/static/catan/ws_client.js
  games/app/static/css/games.css
  games/app/templates/catan_lobby.html.jinja2
Due: stylelint

Fix robber placement: include legal tile indices in game state broadcasts (#101)
  games/app/catan/server/ws_handler.py
  games/app/catan/server/ws_handler_test.py
  games/app/routers/catan.py
Due: none

Fix Catan WebSocket logs not appearing in docker logs (#100)
  games/app/main.py
Due: none

fix test
  games/app/catan/server/ws_handler_test.py
Due: none

Path conditions:
  prettier-html: any of: \.(html|htm)$
  stylelint: any of: \.css$
